In [16]:
import pandas as pd
import json
import pathlib

In [71]:
column_values = {
        "INSTNM": str,
        "INSTURL": str,
        "CITY": str,
        "ST_FIPS": int,
        "PBI": float,
        "ANNHI": float,
        "TRIBAL": float,
        "AANAPII": float,
        "HSI": float,
        "NANTI": float,
        "HBCU": float,
        "CURROPER": float,
        "LATITUDE": float,
        "LONGITUDE": float,
        "MENONLY": float,
        "WOMENONLY": float,
        "CONTROL": int,
        "RELAFFIL": str,
        "HIGHDEG": str,
        "MAIN": float,
        "HCM2": float,
    }

def _translate_code(json_file, df_column, if_None: str="Unknown"):
    j_file = json.loads(pathlib.Path(json_file).read_text())
    return lambda x:j_file.get(str(x), if_None)

converter_list = [
         ("RELAFFIL", _translate_code("translations/relaffil.json", "RELAFFIL", if_None="None")),
         ("CONTROL", _translate_code("translations/control.json", "CONTROL")),
         ("ST_FIPS", _translate_code("translations/st_fips.json", "ST_FIPS")),
         ("HIGHDEG", _translate_code("translations/high_deg.json", "HIGHDEG")),
        ]

converters = {x:y for x,y in converter_list} # To return "ST_FIPS": lambda x:st_fips_json.get(str(x), "Unknown"), etc

In [72]:
df = pd.read_csv(
    "Most-Recent-Cohorts-All-Data-Elements.csv",
    usecols=list(column_values.keys()),
    converters=converters,
    dtype=column_values,
)

/Users/kjaymiller/.virtualenvs/college-project/lib/python3.9/site-packages/pandas/util/_decorators.py:311: ParserWarning: Both a converter and dtype were specified for column HIGHDEG - only the converter will be used
  return func(*args, **kwargs)
/Users/kjaymiller/.virtualenvs/college-project/lib/python3.9/site-packages/pandas/util/_decorators.py:311: ParserWarning: Both a converter and dtype were specified for column CONTROL - only the converter will be used
  return func(*args, **kwargs)
/Users/kjaymiller/.virtualenvs/college-project/lib/python3.9/site-packages/pandas/util/_decorators.py:311: ParserWarning: Both a converter and dtype were specified for column ST_FIPS - only the converter will be used
  return func(*args, **kwargs)
/Users/kjaymiller/.virtualenvs/college-project/lib/python3.9/site-packages/pandas/util/_decorators.py:311: ParserWarning: Both a converter and dtype were specified for column RELAFFIL - only the converter will be used
  return func(*args, **kwargs)

In [73]:
df.head()

,INSTNM,CITY,INSTURL,HCM2,MAIN,HIGHDEG,CONTROL,ST_FIPS,LATITUDE,LONGITUDE,...,PBI,ANNHI,TRIBAL,AANAPII,HSI,NANTI,MENONLY,WOMENONLY,RELAFFIL,CURROPER
0,Alabama A & M University,Normal,www.aamu.edu/,0.0,1.0,Graduate degree,Public,AL,34.783368,-86.568502,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None,1.0
1,University of Alabama at Birmingham,Birmingham,https://www.uab.edu/,0.0,1.0,Graduate degree,Public,AL,33.505697,-86.799345,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None,1.0
2,Amridge University,Montgomery,www.amridgeuniversity.edu/,0.0,1.0,Graduate degree,Private Non-Profit,AL,32.362609,-86.174010,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Churches of Christ,1.0
3,University of Alabama in Huntsville,Huntsville,www.uah.edu/,0.0,1.0,Graduate degree,Public,AL,34.724557,-86.640449,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None,1.0
4,Alabama State University,Montgomery,www.alasu.edu/,0.0,1.0,Graduate degree,Public,AL,32.364317,-86.295677,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None,1.0

In [98]:
df[(df['LATITUDE'].between(32, 43)) & (df['LONGITUDE'].between(-118, -117))]

,INSTNM,CITY,INSTURL,HCM2,MAIN,HIGHDEG,CONTROL,ST_FIPS,LATITUDE,LONGITUDE,...,PBI,ANNHI,TRIBAL,AANAPII,HSI,NANTI,MENONLY,WOMENONLY,RELAFFIL,CURROPER
175,American Beauty College,West Covina,https://www.americanbeautycollege.edu/,0.0,1.0,Certificate degree,Private For-Profit,CA,34.069367,-117.936959,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None,1.0
182,Associated Technical College-San Diego,San Diego,www.atcsd.edu/,0.0,1.0,Certificate degree,Private For-Profit,CA,32.773178,-117.135196,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None,1.0
183,Azusa Pacific University,Azusa,www.apu.edu/,0.0,1.0,Graduate degree,Private Non-Profit,CA,34.130047,-117.888375,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Undenominational,1.0
185,Barstow Community College,Barstow,www.barstow.edu/,0.0,1.0,Associate degree,Public,CA,34.870285,-117.023412,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,None,1.0
186,Bellus Academy-Chula Vista,Chula Vista,www.bellusacademy.edu/,0.0,1.0,Certificate degree,Private For-Profit,CA,32.614773,-117.083738,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6090,Pima Medical Institute-San Marcos,San Marcos,pmi.edu/,0.0,0.0,Associate degree,Private For-Profit,CA,33.136906,-117.160199,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None,1.0
6105,Salon Success Academy-West Covina,West Covina,www.salonsuccessacademy.com/,0.0,0.0,Certificate degree,Private For-Profit,CA,34.070568,-117.933801,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None,1.0
6118,San Diego Global Knowledge University,San Diego,www.sdgku.edu/,0.0,1.0,Graduate degree,Private For-Profit,CA,32.708222,-117.154966,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None,1.0
6128,Young Americans College of the Performing Arts,Corona,https://www.yacollege.edu/,0.0,1.0,Associate degree,Private Non-Profit,CA,33.859246,-117.542501,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None,1.0
6180,Glendale Career College-Brightwood Teachout,San Diego,glendalecareer.com/,0.0,0.0,Associate degree,Private For-Profit,CA,32.822045,-117.136429,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None,1.0

In [94]:
df[df['CITY'] == "Macon"]

,INSTNM,CITY,INSTURL,HCM2,MAIN,HIGHDEG,CONTROL,ST_FIPS,LATITUDE,LONGITUDE,...,PBI,ANNHI,TRIBAL,AANAPII,HSI,NANTI,MENONLY,WOMENONLY,RELAFFIL,CURROPER
799,Mercer University,Macon,https://www.mercer.edu/,0.0,1.0,Graduate degree,Private Non-Profit,GA,32.831787,-83.648295,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None,1.0
820,Wesleyan College,Macon,https://www.wesleyancollege.edu/,0.0,1.0,Graduate degree,Private Non-Profit,GA,32.876037,-83.715417,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,United Methodist,1.0
5391,Platt College-Miller-Motte Technical-Macon,Macon,www.miller-motte.edu/,0.0,0.0,Associate degree,Private For-Profit,GA,32.897821,-83.687065,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None,1.0
5541,Helms College,Macon,www.helms.edu/,0.0,1.0,Associate degree,Private Non-Profit,GA,32.803363,-83.732678,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None,1.0
5582,Middle Georgia State University,Macon,https://www.mga.edu/,0.0,1.0,Graduate degree,Public,GA,32.808092,-83.732058,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,None,1.0
6629,Strayer University - Macon Campus,Macon,www.strayer.edu/campus-locations/georgia/macon,0.0,0.0,Non-degree-granting,Private For-Profit,GA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1.0

In [61]:
cities = pd.read_csv('US.txt', sep="\t", low_memory=False)

In [97]:
cities[(cities['name'] == "Escondido") & (cities['admin1_text'] == "CA")]

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature_class,feature_code,county_code,admin1_code,admin1_text,admin2_code,admin2_text,admin3_code,population,elevation,dem,timezone,modification_date
1287279,5346827,Escondido,Escondido,"Apex,Ehskondido,Escondido,Eskondidas,Eskondido...",33.11921,-117.08642,P,PPL,US,NaN,CA,073,NaN,NaN,151451,197.0,199,America/Los_Angeles,2017-03-09